* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

.nav {
  height: 145px;
  width: 100%;
  /* background: red; */
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  padding: 0 150px;
  position: fixed;
  z-index: 1;
}

.nav img {
  height: 110px;
}

.nav h4 {
    text-transform: uppercase ;
}

video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
}

.main{
  position: relative;
  background-color: rgba(0, 0, 0, 0.402);

}

.page1{
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page1 h1{
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
}
.page1 h2{
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
}